.container {
  margin: 3% 5%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
}

.back {
  margin: 3% 5%;
  display: flex;
  justify-content: space-between;
}

.back a {
  background-color: rgb(102, 161, 255);
  padding: 10px;
  box-shadow: 5px 5px 5px 5px lightgrey;
  text-decoration: none;
}

.container > div {
  text-align: center;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px lightgrey;
}

h2 {
  border-bottom: 1px solid black;
}

i {
  margin-left: 5px;
}

#icon-change {
  font-size: 23px;
}

.container div:nth-child(1) {
  background-color: rgb(255, 166, 184);
  border-radius: 20px;
}

.container div:nth-child(2) {
  background-color: rgb(173, 255, 179);
  border-radius: 20px;
}
