<div class="container">
    <form (ngSubmit)="submit()">
        <h2>Login</h2>
        <div>
            <label for="">Email</label>
            <input class="form-control" type="text" name="email" id="" [(ngModel)]="loginForm.email">
        </div>
        <div>
            <label for="">Password</label>
            <input class="form-control" type="password" name="password" id="" [(ngModel)]="loginForm.password">
        </div>
        <div>
            <button class="btn-primary" type="submit">LogIn</button>
        </div>
        <div>
            <button (click)="signIN()" class="btn-success">Sign UP</button>
        </div>
    </form>
</div>