.container {
  margin: 3% 5%;
}

h2 {
  text-align: center;
}

form {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
  grid-auto-rows: minmax(50px, auto);
  align-items: center;
  justify-items: center;
  background-color: #f5f5f5;
}

form > div {
    display: flex;
    flex-direction: column;
    width: 50%;
}
