.container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 10px;
  padding: 10px;
  align-items: center;
}

.front { 
  display: flex;
  flex-direction: column;
  align-items: center;
}