<div class="container">
    <div class="front">
        <h2>Todo Application</h2>
        <button (click)="logout()"  mat-raised-button color="warn">Sign Out</button>
    </div>
    <button (click)="navigate('Cloud')" mat-raised-button color="primary">Cloud</button>
    <button (click)="navigate('Javascript')" mat-raised-button color="primary">Javascript</button>
    <button (click)="navigate('Typescript')" mat-raised-button color="primary">Typescript</button>
    <button (click)="navigate('Java')" mat-raised-button color="primary">Java</button>
</div>